@use "../../styles/variables" as *;

.imageWrap {
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: 768px) {
    height: 506px;
  }
}

.carInfoBlock {
  max-width: 856px;
  padding-bottom: 112px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $gray-200;

  margin-bottom: 24px;
}
