@use "../../../styles/variables" as *;
.filterBlockWrap {
  width: 100%;

  max-width: 244px;

  &.absolute {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: $shadow-light-large;
    overflow-y: scroll;
    max-height: 800px;
    max-width: 343px;
    padding: 16px;
  }
}
