.carGrid {
  display: grid;
  grid-template-columns: 526px 1fr;
  grid-template-rows: 234px 234px;
  gap: 24px;
  grid-template-areas:
    "bigCard topCard"
    "bigCard bottomCard";

  @media (max-width: 1230px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "bigCard"
      "topCard"
      "bottomCard";
  }
}

.bigCard {
  grid-area: bigCard;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 746px;
  height: auto;
}

.smallCard {
  margin-left: auto;
  margin-right: auto;
  max-width: 746px;
  width: 100%;
  &.top {
    grid-area: topCard;
    height: auto;
  }

  &.bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 746px;
    grid-area: bottomCard;
    height: auto;
  }
}
