@use "../../styles/variables" as *;

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked ~ .icon {
    background-color: $gray-900;
    background-image: url("../../assets//icons//checkbox.svg");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  &:checked ~ .text {
    color: $gray-900;
  }
}

.icon {
  display: block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $gray-500;
  border-radius: 3px;

  margin-right: 16px;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $gray-600;
}
