@use "../../styles/variables" as *;

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.item {
  display: flex;
  padding: 32px;
  gap: 48px;
  width: 100%;
  max-width: 157px;
  border-radius: 8px;

  &.cardLight {
    flex-direction: column;
    background-color: #ecf2f2;
  }
  &.row {
    flex-direction: row;
    gap: 12px;
    padding: 0;
  }

  @media (min-width: 768px) {
    min-width: 263px;
    max-width: 306px;
  }
}

.itemText {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $gray-900;

  &.row {
    color: $gray-400;
  }
}
