@use "../../styles/variables" as *;

.footer {
  background-color: $gray-900;
  border-top: 1px solid $gray-700;

  padding-top: 72px;
  padding-bottom: 32px;

  min-height: 755px;

  @media (min-width: 768px) {
    min-height: 510px;
  }
}

.footerContentWrap {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    gap: 30px;
  }

  @media (min-width: 1120px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
