@use "../../styles/variables" as *;

.navList {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.crumb {
  color: $gray-700;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  &.active {
    color: $gray-400;
  }
}

.iconWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
